@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');


body{
    background-image: url(zyro-image\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
}
.linha1{
    position: absolute;
    width: 730px;
    height: 10px;
    left: 30%;
    top: 453px;
    
    background: #D4A9FF;
}
.linha2{
    position: absolute;
    width: 730px;
    height: 10px;
    left: 30%;
    top: 520px;
    
    background: #D4A9FF;
}
.linha3{
    position: absolute;
    width: 730px;
    height: 10px;
    left: 30%;
    top: 587px;
    
    background: #D4A9FF;
}
  .BKfundo{
    position: absolute;
    width: 730px;
    height: 509px;
    left: 30%;
    top: 277px;
    
    background: #2B049B;
    border-radius: 25px;
}
.CXtela{
    position: absolute;
    width: 444px;
    height: 42px;
    left: 38%;
    top: 15%;
    text-decoration: underline;
    font-family: 'Dancing Script', cursive;
    
    background: #C070FF;
    border-radius: 50px;
    text-align: center;  
}
.Lnome{
    position: absolute;
    width: 55px;
    height: 31px;
    left: 32%;
    top: 408px;
    
    font-family: 'Homenaje';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 27px;
    text-decoration: underline;
    color: #FF6B99;
}
.CXnome{
    position: absolute;
    width: 466px;
    height: 42px;
    left: 37%;
    top: 403px;
    
    background: #C070FF;
    border-radius: 50px;
}
/*CSS do nome*/
.Llogin{
    position: absolute;
    width: 85px;
    height: 31px;
    left: 32%;
    top: 476px;
    text-decoration: underline;
    
    font-family: 'Homenaje';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 27px;
    
    color: #FF6B99;
}
.CXlogin{
    position: absolute;
    width: 466px;
    height: 42px;
    left: 37%;
    top: 470px;
    
    background: #C070FF;
    border-radius: 50px;
}
/*CSS do login*/
.Lsenha{
    position: absolute;
    width: 55px;
    height: 31px;
    left: 32%;
    top: 543px;
    text-decoration: underline;
    
    font-family: 'Homenaje';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 27px;
    
    color: #FF6B99;
}
.CXsenha{
    position: absolute;
    width: 466px;
    height: 42px;
    left: 37%;
    top: 537px;
    
    background: #C070FF;
    border-radius: 50px;
}
/*CSS da senha*/
.Le-mail{
    position: absolute;
    width: 85px;
    height: 31px;
    left: 32%;
    top: 609px;
    text-decoration: underline;
    
    font-family: 'Homenaje';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 27px;
    
    color: #FF6B99;
}
.CXe-mail{
    position: absolute;
    width: 466px;
    height: 42px;
    left: 37%;
    top: 604px;
    
    background: #C070FF;
    border-radius: 50px;
}
/*CSS do email*/
.CXcadastrar{
    position: absolute;
    width: 177px;
    height: 34px;
    left: 45%;
    top: 739px;
    
    background: #878787;
    border-radius: 50px;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
}